@model ProjetoMVC_DIO.Models.Contato

@{
    ViewData["Title"] = "Detalhes do contato";
}

<h1 class="text-center text-light">Detalhes do Contato</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <dl class="row bg-purple p-4 rounded shadow-sm">
                <dt class="col-sm-4 text-light">
                    @Html.DisplayNameFor(x => x.Nome)
                </dt>
                <dd class="col-sm-8 text-light">
                    @Html.DisplayFor(x => x.Nome)
                </dd>

                <dt class="col-sm-4 text-light">
                    @Html.DisplayNameFor(x => x.Telefone)
                </dt>
                <dd class="col-sm-8 text-light">
                    @Html.DisplayFor(x => x.Telefone)
                </dd>

                <dt class="col-sm-4 text-light">
                    @Html.DisplayNameFor(x => x.Ativo)
                </dt>
                <dd class="col-sm-8 text-light">
                    @Html.DisplayFor(x => x.Ativo)
                </dd>
            </dl>

            <div class="d-flex justify-content-between mt-4">
                <a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-lg btn-warning text-light w-48">Editar</a>
                <a asp-action="Index" class="btn btn-lg btn-outline-light text-light w-48">Voltar</a>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #5b2c6f;
    }

    h1 {
        color: #f4f4f4;
    }

    .bg-purple {
        background-color: #6a1b9a;
    }

    .btn-warning {
        background-color: #f57c00;
        border-color: #f57c00;
    }

    .btn-outline-light {
        color: #f4f4f4;
        border-color: #f4f4f4;
    }

    .btn-lg {
        font-size: 1.2rem;
        padding: 0.5rem 1.5rem;
    }

    .text-light {
        color: #f4f4f4;
    }

    .w-48 {
        width: 48%;
    }
</style>
